appdirs==1.4.3
cycler==0.10.0
dask==0.14.1
decorator==4.0.11
functools32==3.2.3.post2
matplotlib==2.0.0
networkx==1.11
numpy==1.12.1
olefile==0.44
packaging==16.8
pbr==2.0.0
Pillow==4.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
scikit-image==0.12.3
scikit-learn==0.18.1
six==1.10.0
stevedore==1.21.0
subprocess32==3.2.7
TBB==0.1
toolz==0.8.2
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
